.body {
  font-family: 'Segoe UI', Verdana, sans-serif;
  margin: 0px;
  padding-left: 1em;
  margin-top: 80px;
  max-inline-size: 90vw;
}
.darkmode {
  background-color: black;
  color: white;
  .faded {
    color: lightgray;
  }
}
.lightmode {
  background-color: white;
  color: black;
  .faded {
    color: darkgray;
  }
}
.bold {
  font-weight: bold;
}
.bolder {
  font-weight: bolder;
}
.thin {
  font-weight: 1px;
}
.bigletterspacing {
  letter-spacing: 0.2em;
  word-spacing: inherit;
}
.bigwordspacing {
  letter-spacing: inherit;
  word-spacing: 0.2em;
}
a {
  color: royalblue;
  .underline {
    text-decoration: underline;
  }
  text-decoration: none;
}
header {
  margin: none;
  padding-left: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}